* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8d17c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#home {
  padding: 80px;
}

#map {
  height: 180px;
}

#navbar {
  background-color: burlywood;
  padding-top: 15px;
  padding-bottom: 20px;
}

#navcontent {
  justify-content: space-evenly;
  font-family: monospace;
  font-weight: bold;
}
.navtext {
  color: rgb(133, 83, 26);
  font-size: large;
}

.a.navtext:active {
  color: rgb(108, 173, 185);
}

.navtext:hover {
  color: rgb(108, 173, 185);
  text-decoration: none;
}

#add-dog-link {
  color: rgb(133, 83, 26);
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 60px;
  border-radius: 20%;
  background-color: rgb(139, 204, 216);
  width: 300px;
  text-align: center;
  font-weight: 600;
}

#add-dog-link:hover {
  color: #ffffff;
  /* background-color: #f05800; */
}

h1 {
  text-align: center;
  font-family: monospace;
}

h4 {
  font-family: monospace;
}

.dog-card {
  background-color: rgba(229, 206, 152, 0.7);
  border-radius: 20px;
  margin: auto;
  margin-bottom: 20px;
  width: 80%;
  padding: 1em;
  color: white;
}

.dog-cardbody {
  margin: 0 auto;
  width: 80%;
  padding: 10px;
}
.dog-cardbody > div {
  margin-bottom: 24px;
}

.mb-3 {
  font-family: monospace;
}

.form-check {
  font-family: monospace;
}

p {
  font-family: monospace;
}

button {
  background-color: #f8d17c;
  border: none;
  color: rgb(133, 83, 26);
  padding: 5px;
}

button:hover {
  background-color: rgb(139, 204, 216);
  color: white;
}

#footer {
  background-color: burlywood;
  padding: 20px 0 0 0;
  text-align: center;
  height: 60px;
}

#footer p a {
  text-decoration: none;
  /* text-align: center; */
  color: rgb(133, 83, 26);
  font-family: monospace;
}

#footer p a:hover {
  color: rgb(108, 173, 185);
}

.chatbox {
  background: #d1d1d4;
  border-color: 2px solid rgb(139, 204, 216);
  color: #333333;
  padding: 10px;
  margin-right: 10px;
  width: 270px;
  text-align: center;
}

.btn-primary {
  background-color: rgb(139, 204, 216) !important;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  width: 200px;
  color: rgb(133, 83, 26);
}

.btn-secondary {
  background-color: rgb(139, 204, 216) !important;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  width: 200px;
  margin: 10px;
  color: rgb(133, 83, 26);
}

.add-dog-btn {
  background-color: rgb(139, 204, 216) !important;
  color: rgb(255, 255, 254)!important;
}

.add-dog-btn:hover {
  background-color: #86c579 !important;
  color: rgb(255, 255, 254);
}

.delete-dog-btn:hover{
  background-color: #e08080 !important;
  color: rgb(255, 255, 254);
}

.carousel .carousel-item {
  max-height: 100%x;
}

.carousel-item img {
  object-fit: cover;
  max-height: 100%;
}
.carousel-caption {
  color: #241d0d !important;
  top: 33%;
  /* add font family, make it bold */
}

.carousel-caption h1 {
  font-weight: bold;
  font-family: URW Chancery L, cursive;
  font-size: 65px;
}
.carousel1 {
  color: rgb(52, 35, 13);
}
.carousel2 {
  color: white;
}

.carousel-caption p {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.carousel-caption span {
  /* color: #5533FF ; */
  font-weight: 900;
  font-size: 30px;
}

/* Auth Form Styling */

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(90deg, rgb(204, 118, 68) 0%, hsla(41, 90%, 73%, 1) 100%); */
}

.Auth-form {
  /* width: 50%; */
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 44px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form h2 {
  text-align: center;
  margin-top: 1em;
  font-size: 24px;
  color: #8ca6db;
  font-weight: 400;
}

/* Add a dog styling */
.text-box {
  background-color: rgba(230, 126, 34, 0.8);
  border-radius: 20px;
  margin: 2em auto;
  padding: 20px;
  width: 90%;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#saved-dog-card {
  background-color: rgba(229, 206, 152, 0.7);
  border-radius: 20px;
  margin: auto;
  margin-bottom: 20px;
  width: 80%;
  padding: 1em;
  color: white;
}

#saved-dog-cardbody {
  margin: 0 auto;
  width: 80%;
  padding: 10px;
}
#saved-dog-cardbody > div {
  margin-bottom: 24px;
}

.card {
  margin: 12px !important;
}
.card:hover {
  transform: scale(0.9) !important;
}

