body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#home{
  padding: 80px;
}

#map {
  height: 180px;
}

#navbar{
  background-color: #f8d17c;
  padding-top: 15px;
  padding-bottom: 15px;
  }

#navcontent{
  justify-content: space-evenly;
  font-family: monospace;
  font-weight: bold;
}
.navtext{
  color: rgb(133, 83, 26);
  font-size: large;
}

.navtext:hover{
  color: rgb(108, 173, 185);
  text-decoration: none;
}

#add-dog-link{
  color: rgb(133, 83, 26);
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 60px;
  border-radius: 20%;
  background-color: rgb(139, 204, 216);
}

#add-dog-link:hover{
  color: #ffffff;
  background-color: #f05800;
}

h1{
  text-align: center;
  font-family: monospace;
}

h4{
  font-family: monospace;
}

.dog-card{
  padding-left: 60px;
  padding-right: 60px;
}

.mb-3{
  font-family: monospace;
}

.form-check{
  font-family: monospace;
}

p{
  font-family: monospace;
}

button{
  background-color: #f8d17c;
  border: none;
  color: rgb(133, 83, 26);
  padding: 5px;
}

button:hover{
  background-color:rgb(139, 204, 216);
  color: white;
}

#footer{
  background-color: #f8d17c ;
}

#footer p a {
  /* justify-content: center; */
  /* text-align: center; */
  padding-left: 650px;
  text-decoration: none;
  color: rgb(133, 83, 26);
  font-family: monospace;
}

#footer p a:hover{
  color: rgb(108, 173, 185);
}

.chatbox {
  background: #d1d1d4;
  border-color: 2px solid #8ca6db;
  color: #333333;
  padding: 10px;
  margin-right: 10px;
  width: 270px;
  text-align: center;
}

.btn-primary {
  /* display: flex; */
  background-color: #8ca6db !important;
  /* justify-content: flex-end; */
  align-items: center;
  text-align: center;
  margin-top: 5px;
  width: 200px;
}

.btn-secondary {
  /* display: flex; */
  background-color: #8ca6db !important;
  /* justify-content: flex-end; */
  align-items: center;
  text-align: center;
  margin-top: 5px;
  width: 200px;
}

/* #home {
  height: calc(100vh - 300px);
  position: relative;
  margin-top: 56px;

  @media (min-width: 768px) {
    margin-top: 115px;
  }
}
  
div {
    height: 100%;
  }


  .home {
    height: 100%;
    background-position: center;
    background-size: cover;
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #003267;
      opacity: 0.7;
    }
    .intro {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      position: relative;
      z-index: 2;
      .title {
        font-weight: bold;

        @media (min-width: 768px) {
          font-size: 4rem;
        }
      }
      .sub-title {
        font-weight: normal;
        max-width: 700px;
        margin: 0 auto;
        letter-spacing: 1px;
        font-size: 1rem;

        @media (min-width: 768px) {
          font-size: 1.2rem;
        }
      }
    }
  }
 */
